header{
    background-image:url("../contenu/images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.d-flex{
    float: right;
}
h2{
    color:cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.tit{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
a:active, a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:gray;
    text-decoration: none;
}
input,select{
    box-shadow: 3px 2px 3px cornflowerblue;

}
.add{
    margin-top:50px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 200px;
 padding:10px;
    box-sizing: border-box;
    border: 1px solid gray;
}
footer{
    width: 100%;
    height: 20px;
    text-align: center;
}
.avatar {
    border-radius: 50%;
  }
  .log{
    margin-top:50px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 200px;
 padding:50px;
    box-sizing: border-box;
    border: 1px solid gray;
}
